<br />
<br />
<br />
<div align="center">
    <h1>Станция техосмотра в с. Александровское Ставропольского края!</h1>
    <h2>Для записи, звоните по номеру:</h2>
    <h1>89197349466</h1>
    <img src="https://a.d-cd.net/2IAAAgKXLuA-1920.jpg" />
</div>




<div>
    <h3>Информация о пункте технического осмотра:</h3>
    <p style="font-size:medium ">
        Ставропольский край, с. Александровское, ул. К. Маркса, д. 126А<br />
        E-mail: Stoplus@internet.ru<br />
        Тел: +79197349466<br />
        Режим работы: пн-сб 8.00-21.00, обед 13.00-14.00, вс выходной
    </p>
</div>