<br />
<br />

<style>

    .main-text {
        font-size: medium;
        font-family: Arial;
    }
.table {
	width: 50%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
            width: 10%;
            background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
            width: 10%;
	border: 1px solid #dddddd;
	padding: 5px;
}
</style>
<div class="main-text"  align="center" >
    <h1>Станция техосмотра в с. Александровское Ставропольского края!</h1>
    <h2>Для записи, звоните по номеру:</h2>
    <h1>89197349466</h1>
    <img src="https://a.d-cd.net/2IAAAgKXLuA-1920.jpg" />
</div>


<br />
<br />
<br />
<div class="main-text" align="center">
    <h3>Стоимость:</h3>

        <table class="table">
        <tr>
            <th>Категория ТС</th>
            <th>Стоимость</th>
            <th>Стоимость повторного ТО</th>
        </tr>
            
            <tr>
            <td>
                    М1 - Легковые
            </td>
            <td>
                900
            </td>
            <td>
                300
            </td>
            </tr>

              <tr>
            <td>
                    N1 - Грузовые
            </td>
            <td>
                990
            </td>
            <td>
                300
            </td>
            </tr>

        </table>

</div>
<br />
<br />
<br />

<div class="main-text" align="center">
    <h3>Режим работы:</h3>
    <label>Понедельник</label> <label>с 8:00-21:00</label> <label> обеденный перерыв 13:00-14:00</label><br /><br />
    <label>Вторник</label> <label>с 8:00-21:00</label> <label> обеденный перерыв 13:00-14:00</label><br /><br />
    <label>Среда</label> <label>с 8:00-21:00</label> <label> обеденный перерыв 13:00-14:00</label><br /><br />
    <label>Четверг</label> <label>с 8:00-21:00</label> <label> обеденный перерыв 13:00-14:00</label><br /><br />
    <label>Пятница</label> <label>с 8:00-21:00</label> <label> обеденный перерыв 13:00-14:00</label><br /><br />
    <label>Суббота</label> <label>с 8:00-21:00</label> <label> обеденный перерыв 13:00-14:00</label><br /><br />
    <label>Воскресенье</label> <label>выходной</label>

</div>
<br />
<br />
<br />
<div class="main-text" align="center">
    <h3>Контакты:</h3>
    <b>

    <label>8-919-734-94-66 | </label>
     <label> ООО "Стоплюс", Россия, Ставропольский край, с. Александровское, ул. К. Маркса, д. 126А | </label>
    <label> Stoplus@internet.ru</label><br /><br />
    </b>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2835.4393981460007!2d42.985337915700086!3d44.71064317909922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40562939724cfb7d%3A0x1f465f6b9cadd0d2!2z0YPQuy4g0JrQsNGA0LvQsCDQnNCw0YDQutGB0LAsIDEyNtCwLCDQkNC70LXQutGB0LDQvdC00YDQvtCy0YHQutC-0LUsINCh0YLQsNCy0YDQvtC_0L7Qu9GM0YHQutC40Lkg0LrRgNCw0LksIDM1NjMwMA!5e0!3m2!1sru!2sru!4v1676494235727!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="main-text" align="center">
    <h3><b>Дополнительная информация:</b></h3>
    <table>
        <tr>
            <td>Директор: Зубарева Светлана Николаевна</td>
        </tr>
        <tr>
            <td>ОГРН: 1212600011612</td>
        </tr>
        <tr>
            <td>КПП: 260101001</td>
        </tr>
        <tr>
            <td>ОКПО: 49756519</td>
        </tr>
        <tr>
            <td>
                Юридический адрес: 356304, Ставропольский край, с. Александровское, ул. Советская, д. 39
            </td>
        </tr>
        <tr>
            <td><a href="https://drive.google.com/file/d/10ppz4oytMH9qi2FY02_kCIa-JWI__IMR/view">Памятка автовладельцу</a></td>
        </tr>
        <tr>
            <td><a href="https://drive.google.com/file/d/1arPPAozed8afoLGVoaTDDhLgsuw4wTkY/view">Федеральный закон о ТО ТС</a></td>
        </tr>
         <tr>
            <td><a href="https://drive.google.com/file/d/1HFD46_6BO7WbkWXz1do7wuYpK_je7hmy/view">Правила проведения Техосмотра</a></td>
        </tr>
         <tr>
            <td><a href="https://drive.google.com/file/d/12YLjNBTLX-9eZZeiEfDknGMaBBHgPHNs/view">Типовая форма договора о проведении ТО</a></td>
        </tr>
    </table>

</div>
