<br />
<br />
<br />
<div align="center">
    <h1>Станция техосмотра в с. Александровское Ставропольского края!</h1>
    <h2>Для записи, звоните по номеру:</h2>
    <h1>89197349466</h1>
    <img src="https://a.d-cd.net/2IAAAgKXLuA-1920.jpg" />
</div>



    
